.cover__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 1184px;
    justify-content: center;
    align-items: center;
    width: calc(1024px + (1184 - 1024) * ((100vw - 1024px) / (1280 - 1024)));
    z-index: 1;
}

@media (max-width: 1024px) {
    .cover__link{
        width: calc(768px + (1024 - 768) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .cover__link{
        width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320px)));
    }
}

@media (max-width: 320px) {
    .cover__link{
        max-width: 320px;
    }
}