.lead {
    margin-top: 56px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 984px;
    width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
}

@media (max-width: 1024px) {
    .lead {
        width: calc(768px + (928 - 768) * ((100vw - 768px) / (1024 - 768)));
        margin-top: calc(48px + (56 - 48) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .lead {
        width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
    }
}

@media (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}