.place__paragraph {
    color: #FFFFFF;
    margin-top: 0px;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin-bottom: 26px;
    margin-right: 0px;
    margin-left: 0px;

}

@media (max-width: 1280px) {
    .place__paragraph {
    /* width: calc(456px + (484 - 456) * ((100vw - 1024px) / (1280 - 1024))); */
    }
}

.place__paragraph:last-of-type {
    margin-bottom: 0px;
}

@media (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        margin-bottom: 27px;
        /* width: calc(352px + (456 - 352) * ((100vw - 768px) / (1024 -768))); */
    }
}

@media (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        font-weight: 1.63;
        margin-bottom: 25px;
        /* width: calc(288px + (325 - 288) * ((100vw - 320px) / (768 - 320)));   */
    }
}

@media (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}