.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    max-width: 1184px;
    margin-top: 92px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 740px;
    width: 100%;
}

.cover::before {
    content: '';
    position: absolute;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2A2C2F;
    transition: 0.5s;
} 

.cover:hover::before {
    opacity: 0.8;
    transition: 0.5s;
}

@media (max-width: 1024px) {
    .cover {
        min-height: calc(480px + (640 - 480) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin-top: 90px;
    }
}

@media (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
    }
}