.place__link {
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 12px;
    max-width: 456px;
}

.place__link:hover {
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .place__link {
        width: calc(352px + (456 - 325) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .place__link {
        max-width: 352px;
        width: calc(288px + (325 - 288) * ((100vw - 320px) / (768 - 320)));   
    }
}