.footer {
    display: flex;
    margin-top: 92px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: calc(928px + (1184 - 928) * ((100vw - 1024px) / (1280 - 1024)));
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
        width: calc(720px + (928 - 720) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-right: 118px;
        margin-left: 16px;
        max-width: 186px;
    }
}