.place__url-heading {
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 456px;
}

@media (max-width: 1024px) {
    .place__url-heading {
        /* width: calc(352px + (456 - 325) * ((100vw - 768px) / (1024 - 768))); */
    }
}

@media (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
        /* width: calc(288px + (325 - 288) * ((100vw - 320px) / (768 - 320)));    */
    }
}