.place__website {
    display: flex;
    max-width: 456px;
    flex-direction: column;
    justify-content: flex-end;
    height: 46px;
    margin-top: 106px;
}

.place__website {
    max-width: 288px;
    margin-left: 16px;
    margin-top: 0px;
}