.intro__title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    max-width: 690px;
    margin: 0 0;
}

@media (max-width: 1024px) {
    .intro__title {
        width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media (max-width: 768px) {
    .intro__title {
        width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        font-size: calc(32px + (54px - 32px) * ((100vw - 320px) / (768 - 320)));
    }
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.09;
    }
}